<% layout('_inc/layout') -%>

<div class="hero">
	<div class="container">
		<%- include _inc/masthead %>
		<div class="hero__content">
			<h1 class="h2 hero__content__title">Train together with your favorite athletes</h1>
			<p class="hero__content__sub-title">High Quality Personalized Fitness Content</p>
			<a class="btn btn--cta hero__content__cta" href="/signup" title="Sign up for Peak">Sign up for free</a>
		</div>
	</div>
	<div class="ss-icon ss-pika hero__pointer">navigatedown</div>
</div>


<%- partial('_inc/feature', {
		title: 'Tell us what sports you like',
		sub_title: 'and we’ll take care of the rest',
		desc: 'Gummies gingerbread muffin. Pastry bonbon chocolate cake gingerbread biscuit brownie sweet. Carrot cake candy tiramisu marzipan lemon drops. Marzipan topping chocolate bar.',
		previewSrc: 'iphone-onboarding.png',
		testimonial: {
			imgSrc: 'jordan-clarkson.jpg',
			quote: 'Biscuit wafer cookie candy pastry carrot cake dragée gummi bears. Jelly chocolate bar pastry gummies brownie carrot cake dragée dessert. Candy canes jelly tart tootsie roll candy canes bonbon jelly beans. Jujubes muffin gummies cotton candy.',
			cite: 'Jordan Clarkson',
			logo: {
				src: 'lakers-logo.png',
				isVertical: false
			}
		},
		options: {
			reversed: false
		}
	}) %>

<%- partial('_inc/feature', {
		title: 'Get a personalised timeline',
		sub_title: 'With highly exclusive fitness content',
		desc: 'Gummies gingerbread muffin. Pastry bonbon chocolate cake gingerbread biscuit brownie sweet. Carrot cake candy tiramisu marzipan lemon drops. Marzipan topping chocolate bar.',
		previewSrc: 'iphone-timeline.png',
		testimonial: {
			imgSrc: 'dwyane-wade.jpg',
			quote: 'Biscuit wafer cookie candy pastry carrot cake dragée gummi bears. Jelly chocolate bar pastry gummies brownie carrot cake dragée dessert. Candy canes jelly tart tootsie roll candy canes bonbon jelly beans. Jujubes muffin gummies cotton candy.',
			cite: 'Dwyane Wade',
			logo: {
				src: 'miami-heat-logo.png',
				isVertical: true
			}
		},
		options: {
			reversed: true
		}
	}) %>

<%- partial('_inc/feature', {
		title: 'Train with your favorite athletes',
		sub_title: 'Follow them and learn',
		desc: 'Gummies gingerbread muffin. Pastry bonbon chocolate cake gingerbread biscuit brownie sweet. Carrot cake candy tiramisu marzipan lemon drops. Marzipan topping chocolate bar.',
		previewSrc: 'iphone-player.png',
		testimonial: {
			imgSrc: 'robert-richard.jpg',
			quote: 'Biscuit wafer cookie candy pastry carrot cake dragée gummi bears. Jelly chocolate bar pastry gummies brownie carrot cake dragée dessert. Candy canes jelly tart tootsie roll candy canes bonbon jelly beans. Jujubes muffin gummies cotton candy.',
			cite: 'Robert Ri\'chard',
			logo: {
				src: 'imdb-logo.png',
				isVertical: false
			}
		},
		options: {
			reversed: false
		}
	}) %>

<%- partial('_inc/feature', {
		title: 'Create your own workouts',
		sub_title: 'With content from your idols',
		desc: 'Gummies gingerbread muffin. Pastry bonbon chocolate cake gingerbread biscuit brownie sweet. Carrot cake candy tiramisu marzipan lemon drops. Marzipan topping chocolate bar.',
		previewSrc: 'iphone-profile.png',
		testimonial: {
			imgSrc: 'isaiah-thomas.jpg',
			quote: 'Biscuit wafer cookie candy pastry carrot cake dragée gummi bears. Jelly chocolate bar pastry gummies brownie carrot cake dragée dessert. Candy canes jelly tart tootsie roll candy canes bonbon jelly beans. Jujubes muffin gummies cotton candy.',
			cite: 'Isaiah Thomas',
			logo: {
				src: 'boston-celtics-logo.png',
				isVertical: true
			}
		},
		options: {
			reversed: true,
			noBorderBottom: true
		}
	}) %>

<div class="section section--dark">
	<div class="container">
		<h3>Get started training with your favorite athletes for free</h3>
		<form action="#" method="post" id="signup-form" class="form--vertical">
			<div class="input-wrapper" data-error-msg="Please enter a valid email">
				<input id="signup-email-input" name="email" type="email" placeholder="Your email address" required>
			</div>

			<input type="submit" class="button button--send" value="Sign up for free">
		</form>
	</div>
</div>